h1 {   
    color: white;
    background-color: black;
    font-size: 35px;
    font-weight: 500;
  }  
   
   .tile {
        background-color: rgb(13, 72, 72);
        padding: 48px;
        border-radius: 2px;
        margin: 48px;
        color: bisque;   
    }

    .cardData{
        margin: 15px; 
        font-size: 12px;
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        
    }

